body {
  background-color: black;
  color: white;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content:"";
  display: table;
  clear: both;
}

#trashButton {
  background-color: none;
  border: none;
  color: lightcoral;
  font-size: 16px;
  background: none;
}

/* Remove default bullets */
ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

strong {
  padding-right: 10px;
}
